<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NUTRI-APP</title>
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/script/script.js"></script>
</head>

<body>
  <header>
    <div id="ocupa_header">
      <button class="but_head" onclick="calculadora()">Volver</button>
    </div>
    <h1 id="logo">NutriApp</h1>
    <div id="ocupa_header" class="header-buttons">
      <button class="but_head" onclick="logout()">Logout</button>
      <button class="but_head" onclick="perfil()">Perfil</button>
    </div>
  </header>

  <div id="ocupa2">
    <section class="grideito2">

      <div class="grid_elem2">
        <div class="despl">
          <h2 id="semi2">&nbsp; <%= suma %> kcal</h2>
          <div class="mostro">
            <% if (lista) {%>
              <ul>
                <% for (let elem of lista) { %>
                <li class="bol"><%= elem[0] %> : <%= elem[2] %> kcal</li>
                <% } %>
              </ul>
              <% } else { %>
              <div class="kk">Añade algún ingrediente para poder guardar el plato!</div>
              <% } %>
          </div>
        </div>
    
      </div>
      <div class="grid_elem2">
        <div class="despl">
          <h2 id="semi2">&nbsp; Crea el plato</h2>
          <div id="mostro2">
            <form class="todo" action="http://localhost:3000/calculadora/save/plato" method="POST">
              <div class="med">Nombre del plato</div>
              <input type="text" name="nombre" placeholder="Nombre" />
              <br />
              <div class="med">Preparación (opcional)</div>
              <textarea name="prep" rows="10" cols="40" placeholder="Preparación del plato..."></textarea>
              <br>
              <div class="med">Fecha (opcional)</div>
              <input type="date"  name="fecha">
    
              <div class="bot23">
                <div class="bot2">
                  <button class="calc_but" type="submit">Crear</button>
                </div>
              </div>
    
    
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
  <footer>
    <p>© 2024 NutriApp. Todos los derechos reservados.</p>
  </footer>
</body>

</html>