<section>
  <% if (dia == "error") { %>
    La fecha que usted está intentando cargar no esta disponible todavía.
    Pruebe con una fecha del año 2024.
  <% } else { %>
    Dia: <%= dia_mes[0] %>
    Mes: <%= dia_mes[1] %>
  <% } %>
</section>
