<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NUTRI-APP</title>
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/script/script.js"></script>
</head>

<body>
  <header>
    <div id="ocupa_header">
      <button class="but_head" onclick="calendario()">Volver</button>
    </div>
    <h1 id="logo">NutriApp</h1>
    <div id="ocupa_header" class="header-buttons">
      <button class="but_head" onclick="logout()">Logout</button>
      <button class="but_head" onclick="perfil()">Perfil</button>
    </div>
  </header>

  <div id="ocupa_dia">
    <div class="premium">
      <h1>Artículos</h1>
      <div class="articus">
        <div class="artic">
          <h2 id="nomarg9">Lorem ipsum dolor sit amet consectetur adipisi...</h2>
          <div class="textito">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed enim sequi doloribus velit, ex quibusdam magni hic nulla accusantium, natus illo reiciendis incidunt beatae iste doloremque ipsum officiis placeat assumenda?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis sit quibusdam, culpa dolores sed asperiores sequi animi? Itaque iure rem provident suscipit architecto reiciendis sapiente ducimus? Doloribus assumenda labore repellat?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum fuga ipsam 
          </div>
          <div class="centraooo"><button class="verat" onclick="verart()">Ver artículo</button></div>
        </div>
        <div class="artic">
            <h2 id="nomarg9">Lorem ipsum dolor sit amet consectetur adipisi...</h2>
            <div class="textito">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed enim sequi doloribus velit, ex quibusdam magni hic nulla accusantium, natus illo reiciendis incidunt beatae iste doloremque ipsum officiis placeat assumenda?
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis sit quibusdam, culpa dolores sed asperiores sequi animi? Itaque iure rem provident suscipit architecto reiciendis sapiente ducimus? Doloribus assumenda labore repellat?
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum fuga ipsam 
            </div>
            <div class="centraooo"><button class="verat" onclick="verart()">Ver artículo</button></div>
          </div>
          <div class="artic">
            <h2 id="nomarg9">Lorem ipsum dolor sit amet consectetur adipisi...</h2>
            <div class="textito">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed enim sequi doloribus velit, ex quibusdam magni hic nulla accusantium, natus illo reiciendis incidunt beatae iste doloremque ipsum officiis placeat assumenda?
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis sit quibusdam, culpa dolores sed asperiores sequi animi? Itaque iure rem provident suscipit architecto reiciendis sapiente ducimus? Doloribus assumenda labore repellat?
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum fuga ipsam 
            </div>
            <div class="centraooo"><button class="verat" onclick="verart()">Ver artículo</button></div>
          </div>
          <div class="artic">
            <h2 id="nomarg9">Lorem ipsum dolor sit amet consectetur adipisi...</h2>
            <div class="textito">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed enim sequi doloribus velit, ex quibusdam magni hic nulla accusantium, natus illo reiciendis incidunt beatae iste doloremque ipsum officiis placeat assumenda?
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis sit quibusdam, culpa dolores sed asperiores sequi animi? Itaque iure rem provident suscipit architecto reiciendis sapiente ducimus? Doloribus assumenda labore repellat?
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum fuga ipsam 
            </div>
            <div class="centraooo"><button class="verat" onclick="verart()">Ver artículo</button></div>
          </div>
          <div class="artic">
            <h2 id="nomarg9">Lorem ipsum dolor sit amet consectetur adipisi...</h2>
            <div class="textito">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed enim sequi doloribus velit, ex quibusdam magni hic nulla accusantium, natus illo reiciendis incidunt beatae iste doloremque ipsum officiis placeat assumenda?
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis sit quibusdam, culpa dolores sed asperiores sequi animi? Itaque iure rem provident suscipit architecto reiciendis sapiente ducimus? Doloribus assumenda labore repellat?
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum fuga ipsam 
            </div>
            <div class="centraooo"><button class="verat" onclick="verart()">Ver artículo</button></div>
          </div>
          <div class="artic">
            <h2 id="nomarg9">Lorem ipsum dolor sit amet consectetur adipisi...</h2>
            <div class="textito">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed enim sequi doloribus velit, ex quibusdam magni hic nulla accusantium, natus illo reiciendis incidunt beatae iste doloremque ipsum officiis placeat assumenda?
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis sit quibusdam, culpa dolores sed asperiores sequi animi? Itaque iure rem provident suscipit architecto reiciendis sapiente ducimus? Doloribus assumenda labore repellat?
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum fuga ipsam 
            </div>
            <div class="centraooo"><button class="verat" onclick="verart()">Ver artículo</button></div>
          </div>
          <div class="artic">
            <h2 id="nomarg9">Lorem ipsum dolor sit amet consectetur adipisi...</h2>
            <div class="textito">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed enim sequi doloribus velit, ex quibusdam magni hic nulla accusantium, natus illo reiciendis incidunt beatae iste doloremque ipsum officiis placeat assumenda?
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis sit quibusdam, culpa dolores sed asperiores sequi animi? Itaque iure rem provident suscipit architecto reiciendis sapiente ducimus? Doloribus assumenda labore repellat?
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum fuga ipsam 
            </div>
            <div class="centraooo"><button class="verat" onclick="verart()">Ver artículo</button></div>
          </div>
          <div class="artic">
            <h2 id="nomarg9">Lorem ipsum dolor sit amet consectetur adipisi...</h2>
            <div class="textito">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed enim sequi doloribus velit, ex quibusdam magni hic nulla accusantium, natus illo reiciendis incidunt beatae iste doloremque ipsum officiis placeat assumenda?
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis sit quibusdam, culpa dolores sed asperiores sequi animi? Itaque iure rem provident suscipit architecto reiciendis sapiente ducimus? Doloribus assumenda labore repellat?
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum fuga ipsam 
            </div>
            <div class="centraooo"><button class="verat" onclick="verart()">Ver artículo</button></div>
          </div>
      </div>
      <br><br>
    </div>
  </div>
  <footer>
    <p>© 2024 NutriApp. Todos los derechos reservados.</p>
  </footer>
</body>

</html>