<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NUTRI-APP</title>
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/script/script.js"></script>
</head>

<body>
  <header>
    <div id="ocupa_header">
      <button class="but_head" onclick="calendario()">Volver</button>
    </div>
    <h1 id="logo">NutriApp</h1>
    <div id="ocupa_header" class="header-buttons">
      <button class="but_head" onclick="logout()">Logout</button>
      <button class="but_head" onclick="perfil()">Perfil</button>
    </div>
  </header>

  <div id="ocupa_dia">
    <div class="premium">
      <h1>Artículos</h1>
      <div class="articus">
        <% if (typeof articulos !== 'undefined') { %>
          <% for (let artic of articulos) { %>
            <div class="artic">
              <h2 id="nomarg9"> <%= artic[0] %> </h2>
              <br><br>
              
              <div class="textito">
                <%= artic[1] %>
                <br> <br>
                <a href="<%= artic[2] %> ">Lee más!! </a>
              </div>              
            </div>
          <% } %>
        <% } %>
      </div>
      <br><br>
    </div>
  </div>
  <footer>
    <p>© 2024 NutriApp. Todos los derechos reservados.</p>
  </footer>
</body>

</html>