<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>NUTRI-APP</title>
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/script/script.js"></script>
</head>

<body>
  <header>
    <h1>NUTRI-APP</h1>
  </header>
  <div id="gen">
    <div class="login-container">
      <h2>Login</h2>
      <button class="botones-meni" onclick="login()">Iniciar sesión</button>
    </div>
  </div>
</body>

</html>