<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NUTRI-APP</title>
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/script/script.js"></script>
</head>

<body>
  <header>
    <div id="ocupa_header"></div>
    <h1>NUTRI-APP</h1>
    <div id="ocupa_header"></div>
  </header>
  <div id="ocupa">
    <h2 id="welcome">Bienvenido <%= user %>!</h2>
    <button id="bot_welc" onclick="inicio()">Comencemos!</button>
  </div>
  <nav></nav>
  <footer>
    <p>© 2024 NutriApp. Todos los derechos reservados.</p>
  </footer>
</body>

</html>