<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NUTRI-APP</title>
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/script/script.js"></script>
</head>

<body>
  <header>
    <h1>NUTRI-APP</h1>
    <button class="botones-meni" onclick="perfil()">Perfil</button> &nbsp; &nbsp;
    <button class="botones-meni" onclick="logout()">Logout</button>
  </header>

  <%- body %>

  <nav>
    <button class="botones-meni" onclick="calculadora()">calculadora</button>
    <button class="botones-meni" onclick="calculadoratot()">calculadora2</button>
    <button class="botones-meni" onclick="calendario()">calendario</button>
    <button class="botones-meni" onclick="educacion()">educacion</button>
    <button class="botones-meni" onclick="objetivos()">objetivos</button>
    <button class="botones-meni" onclick="plato()">plato</button>
    <button class="botones-meni" onclick="premium()">premium</button>
    <button class="botones-meni" onclick="seg()">seguimiento</button>
  </nav>
</body>

</html>