<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NUTRI-APP</title>
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/script/script.js"></script>
</head>

<body>
  <header>
    <div id="ocupa_header"></div>
    <h1 id="logo">NutriApp</h1>
    <div id="ocupa_header" class="header-buttons">
      <button class="but_head" onclick="logout()">Logout</button>
      <button class="but_head" onclick="perfil()">Perfil</button>
    </div>
  </header>

  <div id="ocupa">
    <%- body %>
  </div>
  <nav>
    <button class="but_norm" onclick="calculadora()">Calculadora</button>
    <button class="but_norm" onclick="plato()">Tus platos</button>
    <% if (isprem) { %>
    <button class="but_norm" onclick="platogen()">Platos recomendados</button>
    <% } %>
    <button class="but_norm" onclick="seg()">Seguimiento</button>
    <% if (isprem) { %>
    <button class="but_norm" onclick="specops()">Especialistas</button>
    <button class="but_norm" onclick="educacion()">Educacion</button>
    <button class="but_norm" onclick="premium()">Premium</button>
    <% } %>

  </nav>
  <footer>
    <p>© 2024 NutriApp. Todos los derechos reservados.</p>
  </footer>
</body>

</html>