<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>NUTRI-APP</title>
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/script/script.js"></script>
</head>

<body>
  <h1>NUTRI-APP</h1>
  <h2>Objetivos</h2>
  <button onclick="calculadora()">calculadora</button>
  <button onclick="calculadoratot()">calculadora2</button>
  <button onclick="calendario()">calendario</button>
  <button onclick="educacion()">educacion</button>
  <button onclick="objetivos()">objetivos</button>
  <button onclick="perfil()">perfil</button>
  <button onclick="plato()">plato</button>
  <button onclick="premium()">premium</button>
  <button onclick="seg()">seguimiento</button>
</body>

</html>