<section>
  <h2 class="centraoo">Perfil</h2>
  <div class="grideito3">
    <div class="grid_elem3">
      <h3> <%= user %></h3>
      <div class="brd">
        <img src="/images/perf.jpg" height="200">
      </div>
      <button class="but_perf" onclick="cuenta()">Tu cuenta</button>
    </div>
    <div class="grid_elem3">
      <h3>Tus objetivos</h3>
    </div>
  </div>
</section>