/* NO TOCAR ESTA PARTE DE CSS, HAY AVISO A PARTIR DE CUANDO SE PUEDE TOCAR */
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("./../images/ini.jpg");
  background-repeat: repeat;
  background-size: auto;
}

header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #eee;
  padding: 15px;
}

footer {
  height: 56px;
  background-color: #333;
  color: #eee;
  padding: 1px;
  text-align: center;
}

nav {
  height: 46px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#ocupa {
  min-height: calc(
    100vh - 184px
  ); /*156px es por las alturas de footer y header*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

#ocupa2 {
  min-height: calc(
    100vh - 138px
  ); /*156px es por las alturas de footer y header*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

.mini {
  min-height: 250px;
}

#ocupa1 {
  /* ESTO ES PAL LOGIN*/
  min-height: calc(
    100vh - 184px
  ); /*156px es por las alturas de footer y header*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

h2 {
  padding: 8px;
  background-color: #eee;
}

#good_h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome {
  /* BIENVENIDO INICIO*/
  background-color: #eee;
  font-size: 5em;
  padding: 8px;
}

#bot_welc {
  /* BOTON PAGINA INICIO*/
  padding: 5px 150px;
  font-size: 2em;
  background-color: #4caf50;
  color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  bottom: 65px;
  transition: background-color 0.3s;
}

#bot_welc:hover {
  /* BOTON PAGINA INICIO*/
  background-color: #2e7d30;
}

.botones-calendario {
  padding: 0;
  border: none;
  background: none;
}

.but_norm {
  /* BOTON LAYOUT*/
  background-color: #4caf50;
  color: #eee;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  width: 250px;
  transition: background-color 0.3s;
}

.but_norm:hover {
  /* BOTON LAYOUT*/
  background-color: #2e7d30;
}

.header-buttons {
  /* BOTONES HEADERs*/
  display: flex;
  align-items: center;
}

.but_head {
  /* BOTON HEADER INDIVIDUAL*/
  margin-left: 10px;
  padding: 5px;
  width: 60px;
  border-radius: 2px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
}

.but_head:hover {
  /* BOTON LAYOUT*/
  background-color: #2e7d30;
}

#ocupa_header {
  /* SIRVE PA QUE EL HEADER ESTE CENTRADO*/
  width: 150px;
}

.login-container {
  /* CONTENEDOR LOGIN INDEX*/
  background-color: #eee;
  width: 200px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#but_ind {
  /* BOTON INDEX*/
  margin-left: 10px;
  padding: 10px;
  width: 100px;
  border-radius: 4px;
  background-color: #4caf50;
  color: #eee;
  border: none;
  cursor: pointer;
  outline: none;
}

.my-calendar-div {
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
}

.calendar-container {
  background: #fff;
  height: 60vh;
  width: 90vw;
  min-height: 558px;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

.calendar-container header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}

.calendar-navigation span:last-child {
  margin-right: -10px;
}

.calendar-body {
  padding: 20px;
  height: calc(100% - 125px);
}

.calendar-body ul {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
}

.calendar-body .calendar-dates {
  margin-bottom: 20px;
  padding: 0;
  height: calc(100% - 45px);
}

.calendar-body .calendar-weekdays {
  padding: 0;
}

.calendar-body li {
  width: calc(100% / 7);
  font-size: 1.07rem;
  color: #414141;
}

.calendar-body .calendar-weekdays li {
  cursor: default;
  font-weight: 500;
}

.calendar-body .calendar-dates li {
  margin-top: 2vh;
  margin-bottom: 2vh;
  max-height: calc((100% - 54px) / 6);
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 1;
  cursor: pointer;
  display: flex;
}

.calendar-dates li.inactive {
  color: #aaa;
}

.calendar-dates li.active {
  color: #fff;
}

.calendar-dates li::before {
  position: absolute;
  content: "";
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.calendar-dates li.active::before {
  background: grey;
}

.calendar-dates li:not(.active):hover::before {
  background: #e4e1e1;
}

.calendar-navigation {
  display: flex;
  text-align: center;
}

.calendar-navigation span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  line-height: 38px;
  border-radius: 50%;
  user-select: none;
  color: #aeabab;
  font-size: 1.9rem;
}

.calendar-current-date {
  font-weight: 500;
  font-size: 1.45rem;
}

.my_dia_div {
  height: calc(100vh - 198px);
  width: 80vw;
  border-radius: 8px;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 15px;
  margin: 15px;
  overflow-y: auto;
}

.my_dia_div_vac {
  height: calc(100% - 88px);
  width: calc(100% - 61px);
  border-radius: 8px;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 15px;
  overflow-y: auto;
}

.my_dia_div_vac2 {
  height: calc(100% - 88px);
  width: calc(100% - 61px);
  border-radius: 8px;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 15px;
  overflow-y: auto;
}

.grid_elem {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.grid3 {
  padding: 30px;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 8px;
}

.grideito {
  display: grid;
  grid-template-columns: 400px 300px;
  grid-template-rows: 90px 400px;
  gap: 10px;
  height: 100%;
  margin-bottom: 20px;
}

.big {
  font-size: 25px;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
}

.med {
  margin-top: 10px;
  font-size: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.todo {
  height: 100%;
  width: 100%;
}

.todo2 {
  height: calc(100% - 100px);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.desc {
  height: 50%;
  width: 100%;
}

.calc_but {
  margin-top: 10px;
  padding: 5px;
  width: 60px;
  border-radius: 3px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
}

.calc_but:hover {
  background-color: #2e7d30;
}

.calc_but2 {
  margin-top: 10px;
  padding: 5px;
  width: 200px;
  border-radius: 3px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
}

.calc_but2:hover {
  background-color: #2e7d30;
}

.bot2 {
  display: flex;
  justify-content: space-between;
}

.pp {
  background-color: #eee;
  max-height: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.grid4 {
  min-height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  height: 80%;
  padding: 20px;
}

.bol {
  font-weight: bold;
}

.kk {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 250px;
}

.grideito2 {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 500px;
  gap: 10px;
  height: 100%;
}

.despl {
  padding: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.centr {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#semi {
  margin: auto;
  font-size: 1em;
  height: 20%;
  width: calc(100% - 21px);
  max-height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#semi2 {
  margin: auto;
  font-size: 2em;
  height: 20%;
  width: calc(100% - 21px);
  max-height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.mostro {
  background-color: #fff;
  height: 80%;
  width: 90%;
  max-height: 400px;
  margin: auto;
  border-radius: 8px;
  border-color: #333;
  border: 1px solid;
  overflow-y: auto;
}

.grid_elem2 {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 20px;
}

input {
  vertical-align: top;
}

#mostro2 {
  height: 80%;
  width: 90%;
  max-height: 400px;
  margin: auto;
  border-radius: 8px;
}

.bot23 {
  margin: auto;
}

.grideito3 {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 450px;
  gap: 10px;
  height: 100%;
  margin-bottom: 20px;
}

.grid_elem3 {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
}

.centraooo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.brd {
  margin: auto;
  border-radius: 0px;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.but_perf {
  margin: auto;
  padding: 5px;
  width: 200px;
  border-radius: 3px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
}

.but_perf:hover {
  background-color: #2e7d30;
}

.peso {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.exer {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.obj_but {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#prog_bar_cont {
  width: 80%;
  height: 10px;
  background-color: #f3f3f3;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 20px;
}

#prog_bar_peso {
  height: 100%;
  background-color: #4caf50;
  border-radius: 5px;
  transition: width 2s ease-in;
}

#prog_bar_ej {
  height: 100%;
  background-color: #4caf50;
  border-radius: 5px;
  transition: width 3s ease-in-out;
}

.perfil_peso_t {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.perfil_ejer_t {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ocupa_dia {
  min-height: calc(
    100vh - 138px
  ); /*156px es por las alturas de footer y header*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

.cosa {
  min-height: 250px;
  height: 250px;
  background-color: #fff;
  margin: 10px;
  padding: 15px;
  width: calc(100% - 55px);
  border-radius: 8px;
  border: 1px solid #333;
}

.anade {
  max-height: 100px;
  margin: 10px;
  padding: 15px;
  width: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.anade_vac {
  max-height: 100px;
  background-color: #fff;
  margin: 10px;
  padding: 15px;
  width: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.anade_but {
  margin-top: 10px;
  padding: 5px;
  width: 200px;
  border-radius: 3px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
}

#nomarg {
  margin: 0px;
  margin-left: 10px;
}

#nomarg5 {
  margin: 0px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nomarg2 {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 15px;
}

#nomarg3 {
  margin-top: 4px;
  margin-bottom: 4px;
}

#nomarg4 {
  margin: 0px;
  padding: 5px;
}

.grideito4 {
  display: grid;
  grid-template-columns: calc((100% / 2) - 5px) calc((100% / 2) - 5px);
  grid-template-rows: 225px;
  gap: 10px;
  height: 100%;
}

.grid_elem4 {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.sobra {
  overflow-y: auto;
  width: 100%;
}

.sobra2 {
  overflow-y: auto;
  width: 98%;
  padding: 10px;
}

.rr {
  min-height: calc(100vh - 284px);
  padding: 20px;
  margin: 30px;
  width: 80%;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 8px;
}

#seg {
  min-height: calc(
    100vh - 138px
  ); /*156px es por las alturas de footer y header*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
}


.grid_elem5 {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
}


.grideito5 {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 500px;
  gap: 10px;
  height: 100%;
  margin-bottom: 20px;
}

.seg{
  width: calc(100% - 40px);
  padding: 20px;
  height: calc(100% - 103px);
}

.grid_elem6 {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
}


.calc_but3{
  margin: auto;
  margin-top: 10px;
  padding: 5px;
  width: 150px;
  border-radius: 3px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
}

input[type="range"] {
  width: 250px;
}

.separa{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.junta{
  display: flex;
  align-items: center;
}

.todo3 {
  height: calc(100% - 100px);
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.calc_but4 {
  margin-top: 10px;
  padding: 5px;
  height: 50px;
  width: 400px;
  border-radius: 3px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 2em;
}

.calc_but4:hover {
  background-color: #2e7d30;
}
