/* NO TOCAR ESTA PARTE DE CSS, HAY AVISO A PARTIR DE CUANDO SE PUEDE TOCAR */
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("./../images/ini.jpg");
  background-repeat: repeat;
  background-size: auto;
}

header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #eee;
  padding: 15px;
}

footer {
  height: 56px;
  background-color: #333;
  color: #eee;
  padding: 1px;
  text-align: center;
}

nav {
  height: 46px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#ocupa {
  min-height: calc(
    100vh - 184px
  ); /*156px es por las alturas de footer y header*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

#ocupa1 {
  /* ESTO ES PAL LOGIN*/
  min-height: calc(
    100vh - 184px
  ); /*156px es por las alturas de footer y header*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

h2 {
  padding: 8px;
  background-color: #eee;
}

#good_h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome {
  /* BIENVENIDO INICIO*/
  background-color: #eee;
  font-size: 5em;
  padding: 8px;
}

#bot_welc {
  /* BOTON PAGINA INICIO*/
  padding: 5px 150px;
  font-size: 2em;
  background-color: #4caf50;
  color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  bottom: 65px;
  transition: background-color 0.3s;
}

#bot_welc:hover {
  /* BOTON PAGINA INICIO*/
  background-color: #2e7d30;
}

.botones-calendario {
  padding: 0;
  border: none;
  background: none;
}

.but_norm {
  /* BOTON LAYOUT*/
  background-color: #4caf50;
  color: #eee;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  width: 150px;
  transition: background-color 0.3s;
}

.but_norm:hover {
  /* BOTON LAYOUT*/
  background-color: #2e7d30;
}

.header-buttons {
  /* BOTONES HEADERs*/
  display: flex;
  align-items: center;
}

.but_head {
  /* BOTON HEADER INDIVIDUAL*/
  margin-left: 10px;
  padding: 5px;
  width: 60px;
  border-radius: 2px;
  background-color: #4caf50; 
  color: white;
  border: none;
  cursor: pointer; 
  outline: none; 
}

.but_head:hover {
  /* BOTON LAYOUT*/
  background-color: #2e7d30;
}

#ocupa_header {
  /* SIRVE PA QUE EL HEADER ESTE CENTRADO*/
  width: 150px;
}

.login-container {
  /* CONTENEDOR LOGIN INDEX*/
  background-color: #eee;
  width: 200px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#but_ind {
  /* BOTON INDEX*/
  margin-left: 10px;
  padding: 10px;
  width: 100px;
  border-radius: 4px;
  background-color: #4caf50;
  color: #eee;
  border: none;
  cursor: pointer;
  outline: none;
}

.my-calendar-div {
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
}

.calendar-container {
  background: #fff;
  height: 60vh;
  width: 90vw;
  min-height: 558px;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

.calendar-container header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}

.calendar-navigation span:last-child {
  margin-right: -10px;
}

.calendar-body {
  padding: 20px;
  height: calc(100% - 125px);
}

.calendar-body ul {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
}

.calendar-body .calendar-dates {
  margin-bottom: 20px;
  padding: 0;
  height: calc(100% - 45px);
}

.calendar-body .calendar-weekdays {
  padding: 0;
}

.calendar-body li {
  width: calc(100% / 7);
  font-size: 1.07rem;
  color: #414141;
}

.calendar-body .calendar-weekdays li {
  cursor: default;
  font-weight: 500;
}

.calendar-body .calendar-dates li {
  margin-top: 2vh;
  margin-bottom: 2vh;
  max-height: calc((100% - 54px) / 6);
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 1;
  cursor: pointer;
  display: flex;
}

.calendar-dates li.inactive {
  color: #aaa;
}

.calendar-dates li.active {
  color: #fff;
}

.calendar-dates li::before {
  position: absolute;
  content: "";
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.calendar-dates li.active::before {
  background: grey;
}

.calendar-dates li:not(.active):hover::before {
  background: #e4e1e1;
}

.calendar-navigation {
  display: flex;
  text-align: center;
}

.calendar-navigation span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  line-height: 38px;
  border-radius: 50%;
  user-select: none;
  color: #aeabab;
  font-size: 1.9rem;
}

.calendar-current-date {
  font-weight: 500;
  font-size: 1.45rem;
}

.my_dia_div {
  height: 80vh;
  width: 80vw;
  border-radius: 15px;
  background-color: white;
  text-align: center;
  padding: 15px;
  margin: 15px;
}

.grid_elem {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.grid3 {
  padding: 30px;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 8px;
}

.grideito {
  display: grid;
  grid-template-columns: 400px 200px;
  grid-template-rows: 90px 500px;
  gap: 10px;
  height: 100%;
}

.big {
  font-size: 25px;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
}

.med {
  margin-top: 10px;
  font-size: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.todo {
  height: 100%;
  width: 95%;
}

.desc {
  height: 50%;
  width: 100%;
}

.calc_but {
  margin-top: 10px;
  padding: 5px;
  width: 60px;
  border-radius: 3px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
}

.calc_but:hover {
  background-color: #2e7d30;
}

.calc_but2 {
  margin-top: 10px;
  padding: 5px;
  width: 150px;
  border-radius: 3px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
}

.calc_but2:hover {
  background-color: #2e7d30;
}

.bot2{
  display: flex;
  justify-content: space-between;
}

.pp{
  background-color: #eee;
  max-height: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.grid4 {
  max-height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  height: 80%;
  padding: 20px;
}

.bol{
  font-weight: bold;
}

.kk{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}